/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}





/* 수정작업 */
/* --------메인 슬라이드 버튼------------ */
.lazy .slick-dots{position: absolute; bottom: 25%; left: 8%;
                display: flex; flex-wrap: nowrap; flex-direction: row;} 
.lazy .slick-dots li{margin-right: 10px;}
.lazy .slick-dots li button{display: block; width: 8px;
                             height: 8px; background-color: #fff; border: none; border-radius: 50%; font-size: 0;}
.lazy .slick-dots li.slick-active button{background-color:#E84E0F; width: 40px; border-radius: 10px; transition: 0.5s;}

/* 양한방 프로그램 */
.box {width:100%;margin:0 auto}
.box .slider-for{width:60%}
.box .slider-nav{width:40%;}
.box .slick-slide {margin:0 5px; height:auto}
.slick-nav .slick-list{padding: none;}
.slick-nav .slick-list .slick-track{width: 100%;}

#sec4_prog1 .slick-arrow{font-size: 0; border: none;}
#sec4_prog1 .slick-prev::before{content: ''; width:22px; height:22px; border-bottom:2px solid #666666;
    border-right: 2px solid #555; transform: rotate(133deg); 
    translate: (-2px -2px); display: block; position: absolute; left: -20%; top: 50%;
    z-index:9;}
#sec4_prog1 .slick-next::before{content: ''; width:22px; height:22px; border-bottom:2px solid #555; 
    border-right: 2px solid #555; transform: rotate(315deg); translate: (-2px -2px);
    display: block; position: absolute; right: -55%; top: 50%; z-index: 9;}

/* 재활 */
.sec5_slider .slick-dots{position: absolute; bottom: 40%; right: 5%; transform: translateX(50%);
    display: flex; flex-wrap: nowrap; flex-direction:column;} 
.sec5_slider .slick-dots li{margin: 10px;}
.sec5_slider .slick-dots li button{display: block; width: 20px;
                 height: 20px; background-color: rgb(196, 196, 196); border: none; border-radius: 50%; font-size: 0;}
.sec5_slider .slick-dots li.slick-active button{background-color:#E84E0F;height: 210px;  border-radius: 10px; transition: 0.5s;}

/* 간호간병 서비스 슬라이드 버튼 */
.center button{border: none; font-size: 0;}

/* 식단안내 서비스 슬라이드 버튼 */

/* .regular .slick-prev{position: absolute; left: -7%; bottom: 50%;}
.regular .slick-next{position: absolute; right: -7%; bottom: 50%;} */

/* .box1{width:100%;} */
/* .meal_slider  {margin:40px} */
.meal_slider  .slick-slide {margin:0 50px;padding:10px;height:auto;}
.meal_slider  .slick-slide img {transition:.3s;}
.meal_slider  .slick-slide.slick-active.slick-current img {
      opacity: 1;
      transform: scale(1.5); transition: 0.7s;}

.meal_slider .slick-arrow{border: none; font-size: 0;}
.meal_slider .slick-prev::after{content: ''; width:22px; height:22px; border-bottom:2px solid #666666; border-right: 2px solid #555; 
    transform: rotate(133deg); translate: (-2px -2px); display: block; position: absolute; top: 50%; left: 0;
    z-index:9;}
.meal_slider .slick-next::after{content: ''; width:22px; height:22px; border-bottom:2px solid #666666; border-right: 2px solid #555; 
    transform: rotate(315deg); translate: (-2px -2px); display: block; position: absolute; top: 50%; right: 0;
    z-index:9;}