.sub{margin-bottom: 100px;}
.sub{position: relative; box-sizing: border-box;}
.sub .sub_banner img{width: 100%;}

.sub .sub_tit{position: absolute; bottom: 50%; left: 50%; color: #fff; transform: translateX(-50%); text-align: center;}
.sub .sub_tit h2{padding-bottom: 50px; font-size: 56px; font-weight: 700;}
.sub .sub_tit p{font-size: 30px; line-height: 40px; font-weight: 500; word-break: keep-all;}

/* ----------------------- */
.sub_abs{background-color:#fff; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); padding: 20px 30px; width: 80%; height: 100px;}
.sub_abs > h5{font-size: 18px; padding-bottom: 30px; padding-top: 20px;}
.sub_abs p{ text-align: center; word-break: keep-all;}

/* ----------------------- */
.introduce{text-align: center; background-color:#ffeed6;  }
.introduce h2{padding-top: 90px; line-height: 70px; padding-bottom: 60px; word-break: keep-all;}
.introduce > p{line-height: 30px; padding-bottom: 40px; word-break: keep-all;}
.introduce_img{width: 100%;}
.introduce_img img{width: 100%;}

.introduce h3{}
.introduce .introd_txt > div{text-align: start; padding: 20px 15px 20px 0;}
/* .introduce .introd_txt .introd_txt_left{padding-right: 60px;} */

/* ------- */
/* .introd_txt .introd_txt_left p{word-break: keep-all;} */
/* .introd_txt .introd_txt_right p{word-break: keep-all;} */
.introd_last p{text-align: center; margin: 40px 0; line-height: 40px;}
.introd_last p span{font-weight: 700; font-size: 28px;}


/* 1024px */
@media all and (max-width:1024px){
    .sub .sub_tit h2{ font-size: 46px; font-weight: 500;}
    .sub .sub_tit p{font-size: 25px; line-height: 30px; font-weight: 400;}
    .sub_abs p{font-size: 16px;}
    .sub_abs > h5{font-size: 16px; padding-bottom: 20px;}
}

/* 842px */
@media all and (max-width:842px){
    .sub .sub_tit h2{ padding-bottom: 30px;}
    .sub .sub_tit p{font-size: 20px; line-height: 25px;}
    .sub_abs {}
    .sub_abs > h5{padding-top: 20px;}
    .sub_abs p{font-size: 16px;}
}

/* 623px */
@media all and (max-width:623px){
    .sub_abs{ position: static; transform: translate(0);}
    .sub .sub_tit p{display: none;}
    .sub_abs p{padding-bottom: 30px;}
    .introduce h2{padding-top: 40px; line-height: 50px;}
}

/* 473px */
@media all and (max-width:537px){
    .sub_abs p{}
}